body {
    font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' por el enlace a tu fuente Roboto Sans si no está disponible localmente */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Evita que haya desbordamiento horizontal */
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

header img {
    width: auto;
    height: 75px;
}

header button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    
}

#login-container {
    display: flex;
    gap: 20px;
}

#login-container button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#login-container button:nth-child(1) {
    background-color: #fff;
    color: #000;
}

#login-container button:nth-child(2) {
    background-color: #FBA13C;
    color: #000;
}

main {
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1; /* Coloca el contenido principal sobre el video */
}

h1 {
    color: #fff; /* Cambia el color del texto a blanco */
    margin-bottom: 60px; /* Añade margen inferior para separar el h1 de las características */
    margin-left: 75px;
    margin-right: 75px;
    justify-content: center;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las características de manera uniforme */
    max-width: 800px; /* Establece un ancho máximo para las características */
    margin: 0 auto; /* Centra las características en el contenedor principal */
}

.game {
    flex: 0 0 calc(30% - 20px); /* Calcula el ancho para tener tres características en una fila con espacio entre ellas */
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Añade margen inferior para separar las características */
    border-radius: 18px;
    /*background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para el texto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido en el eje transversal (vertical) */
}

.game img {
    width: auto;
    max-height: 125px; /* Establece una altura máxima del 100% */
    border-radius: 8px;
    margin-bottom: 10px; /* Añade margen inferior para separar la imagen del texto */
}

.game b {
    color: #fff; /* Color blanco para el texto dentro de la característica */
}

.game p {
    color: #fff;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente para el pie de página */
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1; /* Coloca el pie de página sobre el video */
}
